@charset "UTF-8";

img {
    max-width: 100%;
    height: auto;
}
#logo img {
    margin-top: -1px;
}
#slider {
    max-width: 1110px;
}
#carrossel {
    border-radius: 10px;
}
#boxes img {
    transition: transform .2s;
}
#boxes img:hover{
    transform: scale(1.05)
}
#area-produto {
    background-color: #fff;
    width: 1110px;
    height: 300px;
}